---
layout: body
---
<div>
    <div class="about-snippet">
        <h4>
            "We’re a small-scale sourdough bakery based in Stirling, Scotland, who make tasty and nutritious breads and pastries by hand and deliver them to local pick up points by
            bicycle."
        </h4>
    </div>
</div>

<div>
    <h2>Getting your weekly bread:</h2>

    <p>
        Every Monday morning we publish a newsletter (subscribe below) containing the week’s bread and pastry menu (it changes!) as well as some updates on what’s been going on at
        the bakery.
    </p>
    <p>
        In the newsletter you’ll find all you need to know to order and collect your bread.
        We also share the newsletter on all our social media channels, or you can simply click on the latest one below.
    </p>


    {% include subscribe.html sub-style="left" %}
    {% include social.html %}
</div>
{% include newsletters.html %}

{% contentfor sidebar %}
{% include facebook_timeline.html %}
{% endcontentfor %}