---
layout: body
---
<div>
    <div class="about-snippet">
        <h4>
            "We’re a small-scale sourdough bakery based in Stirling, Scotland, who make tasty and nutritious breads and pastries by hand and deliver them to local pick up points by
            bicycle."
        </h4>
    </div>
</div>

<div>
    <h2>Getting your weekly bread:</h2>

    <p>
        Every Monday morning we publish a newsletter (subscribe below) containing the week’s bread and pastry menu (it changes!) as well as some updates on what’s been going on at
        the bakery.
    </p>
    <p>
        In the newsletter you’ll find all you need to know to order and collect your bread.
        We also share the newsletter on all our social media channels, or you can simply click on the latest one below.
    </p>
    
    {% include subscribe.html sub-style="left" %}
    {% include social.html %}

    <p>
        Orders close on Tuesday afternoon to allow for enough time to get that dough fermentation going!
    </p>
    <p>
        You can also find us at <a href="http://www.stirlingfarmersmarket.co.uk/">Stirling Farmer’s Market</a> once a month – do come by, say hi, find out more and get a loaf!
    </p>
    <p>
        We also supply some local shops – again, you will find all the information on how to track down the loaves in our newsletter and social media posts.</br></br>
        Loaves of love,</br>
        Your bakers
    </p>
</div>


{% contentfor sidebar %}
{% include facebook_timeline.html %}
{% endcontentfor %}

{% contentfor below %}
{% include newsletters.html %}
{% endcontentfor %}