<footer>
    <hr>
    <div class="footer-container">
        <div id="address">
            <h1>Address:</h1>
            <p> 13 A, Hillview Community Centre,<br /> Cultenhove Place,<br /> FK7 9DU <br /> Stirling </p>
        </div>
        <div id="contact">
            <h1>Contact</h1>
            <ul>
                <li><a href="mailto:info@riversidebakerycic.org">info@riversidebakerycic.org</a></li>
            </ul>
        </div>
        {% include social.html  show-header=true %}
    </div>
    <div>
        {% include subscribe.html sub-style="center" %}
    </div>
    <div id="partners">
        <h1>Partners</h1>
        <div id="list_partners">
            <ul>
                <li><a href="http://breadmatters.com/" title="bread_matters"><img src="/assets/images/logo_bm.png" alt="logo_bm" /></a></li>
                <li><a href="http://www.firstport.org.uk/" title="firsport"><img src="/assets/images/logo_fp.png" alt="logo_fp" /></a></li>
                <li><a href="http://www.forthenvironmentlink.org/" title="fel"><img src="/assets/images/logo_fel.png" alt="logo_fel" /></a></li>
                <li><a href="http://www.hillviewcommunitycentre.co.uk//" title="hcca"><img src="/assets/images/logo_hcca.jpg" alt="logo_hcca" /></a></li>
                <li><a href="http://www.stirlingstudentsunion.com/" title="students' union"><img src="/assets/images/logo_students_union.gif" alt="logo_su" /></a></li>
                <li><a href="http://www.sustainweb.org/realbread/" title="real bread campaign"><img src="/assets/images/logo_rbc.jpeg" alt="logo_rbc" /></a></li>
            </ul>
        </div>
    </div>

    <div id="legal">
        <p>Riverside Bakery C.I.C, Registered Company # SC516854</p>
        <p><a href="/assets/documents/RBCIC-GDPR PRIVACY NOTICE.pdf">Data Privacy Notice</a></p>
    </div>
</footer>