<header>
    <div id="header-image">
        <div id="logo">
            <img src="/assets/images/logo2-white.png" alt="bread_loaf_outline_logo.png" />
        </div>
        <h1>Riverside Bakery</h1>
        <h2>community-supported bakery</h2>  
    </div>
    <div>
        <nav>
            <a href="/" title="home, news, events">Home</a>
            <a href="newsletter.html" title="current newsletter">News</a>
            <a href="about.html" title="bread roles">About us</a>
        </nav>
    </div>
</header>