<div id="social">
    {% if include.show-header %}
        <h1>Where to find us:</h1>
    {% endif %}
    <a href="https://www.facebook.com/pg/RiversideBakeryCIC/about/?ref=page_internal" target="_blank">
        <i class="fab fa-2x fa-facebook-square"></i>
    </a>
    <a href="https://twitter.com/riversidebakers?lang=en" target="_blank">
        <i class="fab fa-2x fa-twitter-square"></i>
    </a>
    <a href="https://www.instagram.com/riversidebakerycic/?hl=en" target="_blank">
        <i class="fa fa-2x fa-instagram instagram" aria-hidden="true"></i>
    </a>
</div>