#social {
    a {
        display: inline-block;
    }

    a i {
        padding: 10px;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
        transition: all ease-in-out 150ms;
    }

    .fa-facebook-square {
        color: #4867AA;
    }

    .fa-twitter-square {
        color: #1DA1F2;
    }

    .fa-instagram {
        background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    i:hover {
        text-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
    }
}