#mc_embed_signup {
    margin-bottom: 10px;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

#mc-embedded-subscribe {
    background-color: #c96300 !important;
}

.left {
    text-align: left !important;
}

.center {
    text-align: center !important;
}